name: Copilot (Setup ITK DevEnv)

# Automatically run the setup steps when they are changed to allow for easy validation, and
# allow manual testing through the repository's "Actions" tab
on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
  copilot-setup-steps:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    timeout-minutes: 0

    # Steps are the similar to pixi.yml
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 5
          clean: true

      - name: Download testing data
        run: |
          curl -L https://github.com/InsightSoftwareConsortium/ITK/releases/download/v5.4.5/InsightData-5.4.5.tar.gz -O
          cmake -E tar xfz InsightData-5.4.5.tar.gz
          cmake -E rename InsightToolkit-5.4.5/.ExternalData/CID ${{ github.workspace }}/.ExternalData/CID

      - name: Set up Pixi
        uses: prefix-dev/setup-pixi@v0.8.1

      - name: Configure
        run: pixi run configure
